# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.out
myteams_server
myteams_cli

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
cmake-build-debug/*
build/*

# Others
.vscode
.cache
.idea/*
.git/*
